<%= form_for([@home_user, @intro]) do |f| %>
  <% if @intro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @intro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="form-group col-md-12">
    <%= f.text_area :intro, class: "form-control", size: "30x10", placeholder: "Add Introduction use <b>to make bold<b>", autofocus: true %>
  </div>
  <div class="form-group col-md-12">
    <hr>
  </div>
  <div class="form-group col-md-6">
    <%= f.submit "Save", class: "btn btn-primary btn-md" %>
  </div>
<% end %>
