<%= form_for(@home_user) do |f| %>
  <% if @home_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@home_user.errors.count, "error") %> prohibited this home_user from being saved:</h2>

      <ul>
      <% @home_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
