
<!-- Edit Add Delete buttons -->
<div class="row top10">
	<div class="col-md-4 text-left">
		<%= contact1(@contact) %>
		<%= contact2(@contact) %>
	</div>
	<div class="col-md-12"> <!-- pull the form here --> </div>
</div>
<!-- End -->

<div class="row top10">
	<div class="col-md-12">
		<address> 
			<% if !@contact.nil? %>
			<strong>Gordon Turibamwe.</strong><br>
			<%= @contact.city %>, <%= @contact.state %>, <%= @contact.country %> <br>
			<strong>E:</strong> turibamwe(@)outlook(.)com <br>
			<strong>P:</strong> <%= @contact.tel %> 
			<% end %>
		</address>
	</div>
</div>

<!-- WORK EXPERIENCE STARTS -->
	<div class="row">
		<div class="col-md-12"> <% if !@works.nil? %> <h2>Work Experience</h2> <% end %> </div>
		<div class="col-md-4">  <%= link_to "Add Work Experience", new_about_user_work_path(@about_user), class: "btn btn-default btn-sm btn-success" %> </div>
			
		<% if !@works.nil? %>
			<% @works.each do |work| %>
				<!-- experience block -->
				<div class="col-md-12 top10">
					<!-- Edit Add Delete buttons -->
					<div class="row">
						<div class="col-md-4 text-left">
							<%= link_to "Edit", edit_about_user_work_path(@about_user, work), class: "label label-warning" %>
							<%= link_to "Delete", about_user_work_path(@about_user, work), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-danger" %>
						</div>
						<div class="col-md-8 text-right">
						</div>
					</div>
					<!-- End -->
			
					<h4><strong><%= work.title %></strong></h4>
					<h4><small><%= work.company %> . <%= work.location %> . <%= work.start %> - <%= work.end %></small></h4>
					<div class="block-quote">
						<blockquote> <small><%= work.description.html_safe %></small></blockquote>
						<%= link_to "Add Portfolio", new_about_user_work_portfolio_path(@about_user, work), class: "label label-success" %>
						<hr>
					</div>
				</div>
				<!-- experience block -->
			<% end %>
		<% end %>
	</div>
<!-- WORK EXPERIENCE ENDS -->


<!-- EDUCATION EXPERIENCE STARTS -->
	<div class="row">
		<div class="col-md-12"> <% if !@educations.nil? %> <h2>Education Experience</h2> <% end %> </div>
		<div class="col-md-4">	<%= link_to "Add Education Experience", new_about_user_education_path(@about_user), class: "btn btn-default btn-sm btn-success" %> </div>

		<% if !@educations.nil? %>
			<% @educations.each do |education| %>
				<!-- experience block -->
				<div class="col-md-12 top10">
					<!-- Edit Add Delete buttons -->
					<div class="row">
						<div class="col-md-4 text-left">
							<%= link_to "Edit", edit_about_user_education_path(@about_user, education), class: "label label-warning" %>
							<%= link_to "Delete", about_user_education_path(@about_user, education), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-danger" %>
						</div>
						<div class="col-md-8 text-right">
						</div>
					</div>
					<!-- End -->
			
					<h4><strong><%= education.title %></strong></h4>
					<h4><small><%= education.school %> . <%= education.schoolurl %> . <%= education.startdate %> - <%= education.enddate %></small></h4>
					<div class="block-quote">
						<blockquote> <small><%= education.description.html_safe %></small></blockquote>
						<hr>
					</div>
				</div>
				<!-- experience block -->
			<% end %>
		<% end %>
	</div>
<!-- EDUCATION EXPERIENCE ENDS -->

<!-- SKILLS STARTS -->
<div class="row">
		<% if !@skill.nil? %> 
			<div class="col-md-12"> <h2>Skills</h2> </div>
		<% else %>
			<div class="col-md-4  top10"> <%= link_to "Add Skills", new_about_user_skill_path(@about_user), class: "btn btn-default btn-sm btn-success" %> </div>
		<% end %>
	

<% if !@skill.nil? %>
	<div class="col-md-12">
		<!-- Edit Add Delete buttons -->
		<div class="row">
			<div class="col-md-4 text-left">
				<%= link_to "Edit", edit_about_user_skill_path(@about_user, @skill), class: "label label-warning" %>
				<%= link_to "Delete", about_user_skill_path(@about_user, @skill), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-danger" %>
			</div>
			<div class="col-md-8 text-right"> </div>
		</div>
	</div>

	<div class="col-md-12 top10">
		<% skills(@skill).each do |k| %>
  			<a href="#" class="skills_button"><%= k %></a>
  		<% end %>
	</div>
</div>
<% end %>
<!-- SKILLS ENDS -->
