
			<!-- Edit Add Delete buttons -->
			<div class="row top10">
				<div class="col-md-4 text-left">
					<%= contact1(@contact) %>
					<%= contact2(@contact) %>
				</div>
				<div class="col-md-12"> <!-- pull the form here --> </div>
			</div>
			<!-- End -->

			<div class="row top10">
				<div class="col-md-12">
					<address>
						<strong>Gordon Turibamwe.</strong><br>
						<%= @contact.city %>, <%= @contact.state %>, <%= @contact.country %> <br>
						<strong>E:</strong> turibamwe(@)outlook(.)com <br>
						<strong>P:</strong> <%= @contact.tel %> 
					</address>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<h2>Work Experience</h2>
				</div>

				<!-- experience block -->
				<div class="col-md-12">
					<!-- Edit Add Delete buttons -->
					<div class="row">
						<div class="col-md-4 text-left">
							<a href="work-about-edit.html"><span class="label label-warning">Edit</span></a>
							<a href="#"><span class="label label-danger">Delete</span></a>
						</div>
						<div class="col-md-8 text-right"></div>
					</div>
					<!-- End -->

					<h4><strong>Graphics & Web Developer</strong></h4>
					<h4><small>Boston Urban News . Boston, MA, USA . Dec 2014 - Present</small></h4>
					<div class="block-quote"><blockquote>
						<small>I was responsible for designing concepts and ideas of monthly newspapers, designing layouts and final art work, preparing and
							finalizing work to be published. I was also responsible for there-construction and maintenance of Straight Talk Foundation
							website. <br><br>

							Final art work, preparing and
							finalizing work to be published. I was also responsible for there-construction and maintenance of Straight Talk Foundation
							website.</small></blockquote>
					</div>
				</div>
				<!-- experience block -->
			</div>

			<div class="row">
				<div class="col-md-12">
					<h2>Education Experience</h2>
				</div>

				<!-- experience block -->
				<div class="col-md-12">
					<!-- Edit Add Delete buttons -->
					<div class="row">
						<div class="col-md-4 text-left">
							<a href="education-about-edit.html"><span class="label label-warning">Edit</span></a>
							<a href="#"><span class="label label-danger">Delete</span></a>
						</div>
						<div class="col-md-8 text-right"></div>
					</div>
					<!-- End -->

					<h4><strong>Graphics & Web Developer</strong></h4>
					<h4><small>Boston Urban News . Boston, MA, USA . Dec 2014 - Present</small></h4>
					<div class="block-quote"><blockquote>
						<small>I was responsible for designing concepts and ideas of monthly newspapers, designing layouts and final art work, preparing and
							finalizing work to be published. I was also responsible for there-construction and maintenance of Straight Talk Foundation
							website. <br><br>

							Final art work, preparing and
							finalizing work to be published. I was also responsible for there-construction and maintenance of Straight Talk Foundation
							website.</small></blockquote>
					</div>
				</div>
				<!-- experience block -->
			</div>

			<!-- skills starts -->
			<div class="row top10">
				<div class="col-md-12">
					<h2>Skills</h2>
					<!-- Edit Add Delete buttons -->
					<div class="row">
						<div class="col-md-4 text-left">
							<a href="skills-about-edit.html"><span class="label label-warning">Edit</span></a>
							<a href="#"><span class="label label-danger">Delete</span></a>
						</div>
						<div class="col-md-8 text-right"></div>
					</div>
					<!-- End -->

				</div>
				<div class="col-md-12 top10">
					<a class="skills_button" href="#"> SQL </a>
					<a class="skills_button" href="#"> Ruby </a>
					<a class="skills_button" href="#"> R </a>
					<a class="skills_button" href="#"> CSS </a>
					<a class="skills_button" href="#"> HTML </a>
					<a class="skills_button" href="#"> Indesign </a>
					<a class="skills_button" href="#"> Illustrator </a>
					<a class="skills_button" href="#"> PhotoShop </a>
					<a class="skills_button" href="#"> DataBase </a>
					<a class="skills_button" href="#"> RStudio </a>
				</div>
			</div>
			<!-- skills ends -->
